:root {
    --color-sedan: rgb(227, 136, 38);
    --color-suv: rgb(0, 105, 112);
    --color-luxury: rgb(0, 66, 65);

    --color-primary: rgba(255, 255, 255, 0.75);
    --color-secondary: rgb(242, 242, 242);
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

.container {
    background-color: #000;
}

article {
    display: flex;
}

section {
    flex-direction: row;
}

.sedans {
    width: 300px;
    background-color: var();
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5rem;
    color: var(--color-secondary);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: var(--color-primary);
}